body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* Відміна дефолтного підкреслення для посилань та маркерів у списках */
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Header Styles */
header {
  background-color: #ffffff;
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 156px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  top: 0;
  z-index: 10;
  /* Високий пріоритет для накладання */
}

nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #4d5ae5;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.studio-link:hover,
.studio-link:focus {
  color: #404bbf;
}

.logo .studio {
  display: inline;
  /* Зробити елементи одним рядком */
  color: inherit;
  font-weight: inherit;
  margin: 0; /* Відсутність зайвих відступів */
  padding: 0;
}

.logo .studio {
  color: #2e2f42; /* Темно-сірий колір для "STUDIO" */
}

/* Стилі для меню навігації */
nav ul {
  display: flex;
  gap: 40px;
  /* Відступи між елементами меню */
}

nav ul a:hover,
nav ul a:focus {
  color: #404bbf; /* Колір при наведенні або фокусі */
}

nav a {
  color: #2e2f42; /* NAVY BLUE */
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em; /* Відповідає 2% */
  text-decoration: none;
}

address ul a:hover,
address ul a:focus {
  color: #404bbf; /* Колір при наведенні або фокусі */
}

.contacts {
  display: flex;
  align-items: center; /* Вирівнює по вертикалі */
  justify-content: flex-end; /* Вирівнює елементи по правому краю */
  font-style: normal;
}

.contacts ul {
  display: flex;
  gap: 20px; /* Відступ між контактами */
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact-link {
  color: #434455; /* SLATE */
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em; /* Відповідає 2% */
  text-decoration: none;
  font-style: normal; /* Прибираємо італік */
}

header .contacts ul li {
  display: inline;
  margin-right: 10px; /* Додає проміжок між email та номером */
}

/* Hero Section Styles */
.hero {
  height: 600px;
  margin-top: 72px; /* Відступ після фіксованого хедера */
  background-color: #2e2f42; /* Колір для фону, відповідно до макету */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
}

.hero-header {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  color: #ffffff;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.hero-button {
  background-color: #4d5ae5; /* IRIS */
  color: #ffffff;
  border: none;
  width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px; /* Радіус */
  text-align: center;
  letter-spacing: 0.04em;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* Features Section Styles */
.features {
  padding: 60px 20px;
  text-align: center;
  background-color: #f8f9fa;
}

.features h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 40px;
}

.features ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  max-width: 1128px;
  margin: 0 auto;
  padding: 0;
}

.features li p {
  margin: 0; /* Прибираємо зайві відступи */
  padding: 0; /* Прибираємо зайві внутрішні відступи */
  line-height: 1.5; /* Робимо текст більш компактним */
  text-align: left; /* Вирівнюємо текст по лівому краю */
}

.features-p {
  letter-spacing: 0.02em;
}

.features li:hover {
  transform: translateY(-5px);
}

.features-h {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 10px;
  text-align: left; /* Вирівнюємо текст по лівому краю */
  color: #2e2f42;
}

.features p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #434455;
  line-height: 1.6;
  margin: 0;
  text-align: left; /* Вирівнюємо текст по лівому краю */
}

/* Team Section Styles */
.team {
  padding: 60px 20px;
  text-align: center;
  background-color: #f4f4fd;
}

.team-h {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px; /* Розмір шрифту, зазначений у макеті */
  line-height: 1.11; /* Лінійна висота */
  letter-spacing: 0.02em; /* Відповідає 2% */
  color: #2e2f42; /* Колір, відповідно до макету */
  text-align: center; /* Вирівнювання по центру */
  margin-bottom: 40px;
  text-transform: capitalize;
}

.team ul {
  display: flex; /* Використовуємо flex для вирівнювання карток в лінію */
  gap: 32px;
  justify-content: center; /* Вирівнюємо картки по центру */
  max-width: 1200px;
  margin: 0 auto;
}

.team-li {
  text-align: center;
  background-color: #ffffff;
  width: 264px;
  height: 380px; /* Фіксована висота для однакового вигляду */

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 4px 4px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* Забезпечує рівномірний розподіл простору */
  gap: 15px; /* Додаємо відступ між зображенням і текстом */
}

.team-li:hover {
  transform: translateY(-5px);
}

.team img {
  width: 264px;
  height: 260px;
  /* Встановлюємо однакову висоту для зображень */

  border-radius: 0px 0px 4px 4px;
  margin-bottom: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.team-name {
  font-weight: 500;
  font-size: 20px; /* Корегуємо розмір шрифту для відповідності макету */
  margin-bottom: 10px;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-p {
  font-size: 16px; /* Вирівнюємо розмір шрифту під макет */
  font-weight: 400;
  color: #434455; /* Колір тексту */
  margin-top: 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Portfolio Section Styles */
.portfolio {
  padding: 60px 20px 40px 20px;
  text-align: left;
  background-color: #ffffff;
}

.portfolio-h {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px; /* Розмір шрифту, зазначений у макеті */
  line-height: 1.11;
  color: #2e2f42; /* Колір, відповідно до макету */
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.portfolio ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.portfolio li {
  width: 360px;
  height: 420px;
  display: flex;
  flex-direction: column;
}

.portfolio-label {
  border-width: 0px, 1px, 1px, 1px;
  border-style: solid;
  border-color: #e7e9fc;
  border-top: 0px;
  width: 360px;
}

.portfolio-name {
  font-weight: 500;
  font-size: 20px; /* Корегуємо розмір шрифту для відповідності макету */
  margin-bottom: 10px;
  color: #2e2f42; /* Колір заголовку */
  padding-left: 20px;
  padding-top: 15px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-p {
  font-size: 16px; /* Вирівнюємо розмір шрифту під макет */
  font-weight: 500;
  color: #434455; /* Колір тексту */
  margin-top: 0;
  padding-left: 20px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio li:hover {
  transform: translateY(-5px);
}

.portfolio img {
  width: 360px;
  height: 300px;
  /* Встановлюємо однакову висоту для зображень */
}

/* Footer Section Styles */
.footer {
  background-color: #2e2f42;
  color: #ffffff;
  padding: 112px 20px;
  text-align: left;
  left: 156px;
  height: 312px;
}

footer a.logo-footer {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 18px;
  padding-left: 156px;
  text-align: left;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
}

.logo-footer .web {
  color: #4d5ae5; /* Синій колір для "WEB" */
}

.logo-footer .studio {
  color: #f4f4fd;
}

.footer-p {
  max-width: 600px;
  line-height: 1.5;
  padding-left: 156px;
  text-align: left;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

button {
  cursor: pointer;
}
